flows from raspberrypi.json
[{"id":"eebede04.c75f5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6ad6fb1.45f5e04","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"e73f1c27.57609","type":"wiotp-credentials","z":"","name":"","org":"9q7iqi","serverName":"","devType":"raspberrypiGW","devId":"0800270c8c08","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"db6233bf.cbfab","type":"wiotp-credentials","z":"","name":"","org":"9q7iqi","serverName":"","devType":"raspberrypi","devId":"0800270c8c08","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"caf94860.e87728","type":"rpi-sensehatsim in","z":"eebede04.c75f5","name":"","motion":false,"env":true,"stick":false,"x":80,"y":140,"wires":[["a8703bfe.e7d638"]]},{"id":"a8703bfe.e7d638","type":"delay","z":"eebede04.c75f5","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":280,"y":140,"wires":[["c3f9d714.0944b8"]]},{"id":"c3f9d714.0944b8","type":"function","z":"eebede04.c75f5","name":"","func":"msg.payload = {\"Data\" : {\"Environment\" : msg.payload}};\nmsg.deviceType=\"senseHat\";\nmsg.deviceId =\"senb0800270c8c08\"\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":140,"wires":[["39683d43.088062","6fa8dca.3e30924"]]},{"id":"39683d43.088062","type":"debug","z":"eebede04.c75f5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":140,"wires":[]},{"id":"6fa8dca.3e30924","type":"wiotp out","z":"eebede04.c75f5","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"e73f1c27.57609","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":630,"y":200,"wires":[]},{"id":"4ddf1c67.f42cc4","type":"inject","z":"6ad6fb1.45f5e04","name":"","topic":"","payload":"","payloadType":"str","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":140,"wires":[["5c30d766.21bcf8"]]},{"id":"5c30d766.21bcf8","type":"random","z":"6ad6fb1.45f5e04","name":"","low":"1","high":"10","inte":"true","property":"payload","x":300,"y":140,"wires":[["962331bd.6706d"]]},{"id":"962331bd.6706d","type":"function","z":"6ad6fb1.45f5e04","name":"","func":"msg.payload = { 'd' : {'random' : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["56e3d318.f14d2c","6d17f1a9.ed922"]]},{"id":"56e3d318.f14d2c","type":"debug","z":"6ad6fb1.45f5e04","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":640,"y":140,"wires":[]},{"id":"6d17f1a9.ed922","type":"wiotp out","z":"6ad6fb1.45f5e04","authType":"d","qs":"false","qsDeviceId":"","deviceKey":"db6233bf.cbfab","deviceType":"","deviceId":"","event":"event","format":"json","qos":"","name":"","x":610,"y":200,"wires":[]}]