flows from bluemix.json
[{"id":"939fba67.7646f8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"803beb57.900a38","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"e5cd16c2.b4c3e8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2497c626.09dc9a","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"61e45b2d.143184","type":"ui_group","z":"","name":"Default","tab":"2497c626.09dc9a","order":1,"disp":true,"width":"6","collapse":false},{"id":"a9cfedc0.113d6","type":"ui_group","z":"","name":"Default","tab":"97746598.5e3ea8","order":1,"disp":true,"width":"6","collapse":false},{"id":"97746598.5e3ea8","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"9040e600.1031d8","type":"ui_group","z":"","name":"Default","tab":"58f36d89.6b2fa4","order":1,"disp":true,"width":"6","collapse":false},{"id":"58f36d89.6b2fa4","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6e5d99dd.daa748","type":"ui_group","z":"","name":"Default","tab":"4c784a00.2bc3f8","order":1,"disp":true,"width":"6","collapse":false},{"id":"4c784a00.2bc3f8","type":"ui_tab","z":"","name":"Environment","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"e7f6688.7699a98","type":"ibmiot in","z":"939fba67.7646f8","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":160,"wires":[["ad68a3ec.e2b7c"]]},{"id":"ad68a3ec.e2b7c","type":"debug","z":"939fba67.7646f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":360,"y":160,"wires":[]},{"id":"20b9a6c3.c5774a","type":"inject","z":"803beb57.900a38","name":"Normal","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Normal","payloadType":"str","x":70,"y":160,"wires":[["8abe63ec.5f39f"]]},{"id":"ef8255d.e578da8","type":"inject","z":"803beb57.900a38","name":"Alert","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Alert","payloadType":"str","x":70,"y":260,"wires":[["8abe63ec.5f39f"]]},{"id":"f5821fb7.9193f","type":"ibmiot out","z":"803beb57.900a38","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"0800270c8c08","deviceType":"raspberrypi","eventCommandType":"statusbarindicator","format":"json","data":"{}","qos":0,"name":"IBM IoT","service":"registered","x":580,"y":220,"wires":[]},{"id":"8abe63ec.5f39f","type":"function","z":"803beb57.900a38","name":"format message","func":"msg.payload = { \"a\" : { \"indicator\" : msg.payload}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":260,"y":220,"wires":[["aaf6b1b5.498da"]]},{"id":"aaf6b1b5.498da","type":"json","z":"803beb57.900a38","name":"","property":"payload","action":"","pretty":false,"x":430,"y":220,"wires":[["f5821fb7.9193f"]]},{"id":"ee3227e9.b82ba8","type":"ibmiot in","z":"803beb57.900a38","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"senb0800270c8c08","applicationId":"","deviceType":"+senseHat","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":260,"y":420,"wires":[["495d9de3.a5e774","37fb088d.93a4b8","7523111f.bab2e","69daabfe.94bfc4"]]},{"id":"df3a66a3.033608","type":"ui_button","z":"803beb57.900a38","name":"","group":"61e45b2d.143184","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":110,"y":420,"wires":[[]]},{"id":"421c1619.cc08d8","type":"ui_gauge","z":"803beb57.900a38","name":"Suhu","group":"61e45b2d.143184","order":1,"width":0,"height":0,"gtype":"gage","title":"Suhu","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":420,"wires":[]},{"id":"495d9de3.a5e774","type":"function","z":"803beb57.900a38","name":"suhu","func":"msg.payload = msg.payload.d.Data.Environment.temperature;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":450,"y":420,"wires":[["421c1619.cc08d8"]]},{"id":"37fb088d.93a4b8","type":"debug","z":"803beb57.900a38","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":580,"wires":[]},{"id":"7523111f.bab2e","type":"function","z":"803beb57.900a38","name":"kelembapan","func":"msg.payload = msg.payload.d.Data.Environment.humidity;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":480,"wires":[["883092be.0eae"]]},{"id":"883092be.0eae","type":"ui_gauge","z":"803beb57.900a38","name":"Kelembapan","group":"61e45b2d.143184","order":1,"width":0,"height":0,"gtype":"gage","title":"Kelembapan","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":480,"wires":[]},{"id":"69daabfe.94bfc4","type":"function","z":"803beb57.900a38","name":"tekanan","func":"msg.payload = msg.payload.d.Data.Environment.pressure;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":520,"wires":[["d10d942.e320868"]]},{"id":"d10d942.e320868","type":"ui_gauge","z":"803beb57.900a38","name":"Tekanan","group":"61e45b2d.143184","order":1,"width":0,"height":0,"gtype":"gage","title":"Tekanan","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":520,"wires":[]}]